<header-component></header-component>
<div class="container" style="overflow-x:auto;">
  <div class="content">
    <div class="contentTicket">
      <section class="messageContact" style="border-radius: 50px 50px 50px 0px;">
        <label for="">Paulinho Gogo: </label>
        <span>há 2 dias</span>
        <p>Estamos precisando que bobina para o relógio ponto,  pois só temos 1 em estoque.</p>
      </section>
      <section class="messageAgente" style="border-radius: 50px 50px 0px 50px;">
        <label>Alan Junior:</label>
        <span>há 3 minutos atrás</span>
        <p>Estamos precisando que bobina para o relógio ponto,  pois só temos 1 em estoque.</p>
      </section>
    <div class="proprietyTicket"></div>
  </div>
</div>
