.container{
  padding: 20px;
  height: 100vh;
  background: #e1e5ee;
  .content{
    padding: 20px;
    margin: none auto;
    background: #f9fbff;

    table.tableHeader{
      table-layout: fixed;
      border-collapse: collapse;
      width: 100%;
      box-sizing: border-box;

      thead{
        background-color: #f5f7f9;
        padding: 10px;
      }
    }
  }

}
