<div class="container">
  <mat-card>
    <div class="cardContainer">
      <div class="headerTicket">
        <span class="chipSituation">Novo</span>
        <mat-card-title>Descrição chamado #0000</mat-card-title>
      </div>
          <div class="propsTicket">
            <div>
              <span></span>
              <select name="" id="">
                <option>Baixa</option>
                <option>Média</option>
                <option>Alta</option>
                <option>Urgente</option>
              </select>
            </div>
            <div>
              <select name="" id="">
                <option>Alan Junior</option>
                <option>Novo Agente</option>
              </select>
            </div>
              <div>
                <select name="" id="">
                  <option>Aberto</option>
                  <option>Esperando o Cliente</option>
                  <option>Esperando Terceiros</option>
                  <option>Pendente</option>
                  <option>Resolvido</option>
                  <option>Fechado</option>
                </select>
            </div>
          </div>
        <div><input type="checkbox" name="" id=""></div>
    </div>
            <div class="otherOptions">
              <h2>Nome do usuário</h2>
              <p>Criado há 10 dias</p>
              <p>Venceu há 8 dias</p>
            </div>
  </mat-card>
</div>
