<header-component></header-component>
<div class="container">
  <div class="content">
    <div>
      <table class="tableHeader">
        <thead>
          <tr>
            <th>Contato</th>
            <th>Assunto</th>
            <th>Estado</th>
            <th>Prioridade</th>
            <th>Status</th>
          </tr>
          <tr>
          </tr>
        </thead>
      </table>
    </div>

    <table class="tableBody">
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td>{{ticket.employee}}</td>
          <td>{{ticket.description}}</td>
          <td>{{ticket.state}}</td>
          <td>{{ticket.priority}}</td>
          <td>{{ticket.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
