<button class="btnCreateUser" mat-fab color="primary" (click)="navegateToUserCreate()">
  <mat-icon>add</mat-icon>
</button>

<mat-card  style="overflow-x:auto;">
 <table>
   <thead>
     <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Ativo</th>
      <th>Criado em</th>
      <th>Ações</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let user of users" (dblclick)="doubleClick(user)">
       <td data-type="numeric">{{user.id}}</td>
       <td data-type="text-long">{{user.name}}</td>
       <td data-type="text-short">{{user.email}}</td>
       <td data-type="text-short" [ngClass]="user.active ? 'statusActive' : 'statusInative'">{{isStatusActive(user)}}</td>
       <td data-type="text-short">{{user.dateAtCreate}}</td>
       <td data-type="text-short">
         <a routerLink="update/{{user.id}}">
           <mat-icon color="accent">edit</mat-icon>
         </a>
         <a (click)="deleteUser(user)">
          <mat-icon color="warn">delete</mat-icon>
        </a>
       </td>
     </tr>
   </tbody>
 </table>
</mat-card>

