
.container{
  padding-top: 20px;
  height: 100vh;
  background: #e1e5ee;
    .content{
    padding: 20px;
    margin: none auto;
    background: #f9fbff;

  table{
    min-width: 100%;
    width: auto;
    flex: 1;
    display: grid;
    border-collapse: collapse;


/* Estes são apenas valores iniciais que são substituídos usando JavaScript,
  quando uma coluna é redimensionada */

    grid-template-columns:
    minmax(100px, .5fr)
    minmax(150px, 2.30fr)
    minmax(150px, 1.67fr)
    minmax(150px, .5fr)
    minmax(100px, .7fr)
    minmax(100px, .5fr);

    .statusActive{
      color: #388e3c;
      font-weight: 900;
      text-transform: uppercase;
    }

    .statusInative{
      color: #c62828;
      font-weight: 900;
      text-transform: uppercase;
    }


    thead, tbody, tr{
      display: contents;

    }

    th,td{
      padding: 15px 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    th{
      position: sticky;
      top: 0;
      background: #1d1b31;
      text-align: left;
      font-size: .8rem;
      color: white;
      position: relative;

      &:last-child{
        border: 0;
      }

      &:hover .resize-handle{
        opacity: 0.3;
      }
    }

    .resize-handle{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0%;
      background: white;
      opacity: 0;
      width: 3px;
      cursor: col-resize;

      /* O seguinte seletor é necessário para que a alça fique visível durante o redimensionamento,
        mesmo que o mouse não esteja mais sobre a alça */
        &:hover, .header--begin-resized .resize-handle{
          opacity: 0.5;
        }
    }

    td{
      padding-top: 10px;
      padding-bottom: 10px;
      color: #1d1b31;
      border-bottom: 1px solid #1d1b31;
     }

    tr{
      &:nth-child(even) td{
        background: #f9fbff;

      }
    }

  }

  .noRegisterData{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    strong{
      text-align: center !important;
      font-size: 18px;
      font-weight: 600;
    }
  }

    }

}
