<header-component></header-component>

<mat-card>
  <carousel #myCarousel
    [images]="photo"
    [objectFit]="'cover'"
    [cellWidth]="'100%'"
    [arrowsOutside]="true"
    [autoplay]="true"
    [dots]="true"
    [loop]="true">
  </carousel>
  <mat-card-content *ngFor="let item of employee">
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>{{item.department}}</mat-card-subtitle>
    <strong>{{item.phone}}</strong>
    <span>{{item.active}}</span>
  </mat-card-content>

</mat-card>

