<div class="sidebar" #isActive>
  <div class="logo_content">
    <div class="logo">
      <mat-icon>grade</mat-icon>
      <div class="logo_name">MyApp</div>
    </div>
    <button id="btnSidebar" (click)="openMenu()">
      <mat-icon>menu</mat-icon>
    </button>

  </div>
  <ul class="nav_list">
    <li>
      <a href="#">
        <mat-icon class="mat-18">grid_view</mat-icon>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="#">
        <mat-icon class="mat-18">support_agent</mat-icon>
        <span class="links_name">Chamado</span>
      </a>
      <span class="tooltip">Chamado</span>
    </li>
    <li>
      <a href="#">
        <mat-icon class="mat-18">book</mat-icon>
        <span class="links_name">Soluções</span>
      </a>
      <span class="tooltip">Soluções</span>
    </li>
    <li>
      <a href="#">
        <mat-icon class="mat-18">contact_page</mat-icon>
        <span class="links_name">Contatos</span>
      </a>
      <span class="tooltip">Contatos</span>
    </li>
    <li>
      <a href="#">
        <mat-icon class="mat-18">people</mat-icon>
        <span class="links_name">Usuários</span>
      </a>
      <span class="tooltip">Usuários</span>
    </li>
    <li>
      <a href="#">
        <mat-icon class="mat-18">settings</mat-icon>
        <span class="links_name">Configurações</span>
      </a>
      <span class="tooltip">Configurações</span>
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div class="profile_details">
        <img src="../../assets/img/logo.png" alt="">
        <div class="name_job">
          <div class="name">Novo Agente</div>
          <div class="job">Web Designer</div>
        </div>
      </div>
      <mat-icon #log_out>logout</mat-icon>
    </div>
  </div>
</div>
<div class="home_content">
  <div class="text">Home Content

  </div>
</div>
