<div class="container">
  <form [formGroup]="form">
    <switch-component
        label="Ativo"
        name="active"
        formControlName="active"
      ></switch-component>
    <input-component label="Nome" type="text" name="name" formControlName="name" errorMessage="O campo Nome é obrigatório!" [readonly]="isEditMode"></input-component>
    <input-component label="Departamento" type="text" name="department" formControlName="department"></input-component>
    <input-component label="Fone" type="text" name="phone" formControlName="phone" matInput prefix="+7" mask="(000) 00000-0000"></input-component>

    <!--input type="file" (change)="onChange($event)"-->
    <div *ngIf="imgbase64">
      <img [src]="imgbase64 | async" alt="">
    </div>

    <button (click)="openModal()">OPEN</button>

    <button (click)="onSubmit()">Salvar</button>
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
  </form>

</div>
