<div class="container">
  <form [formGroup]="form">
    <switch-component
        label="Ativo"
        name="active"
        formControlName="active"
      ></switch-component>
    <input-component label="Nome" type="text" name="name" formControlName="name" errorMessage="O campo Nome é obrigatório!"></input-component>
    <input-component label="Departamento" type="text" name="department" formControlName="department"></input-component>
    <input-component label="Fone" type="text" name="phone" formControlName="phone"></input-component>

    <div style="display: flex; flex-direction: column;">
      <img [src]="imageUrl" alt="">
      <input formControlName="photos" type="file" accept="image/*" (change)="inputFile($event)">
      <textarea [innerHTML]="base64"></textarea>
      <button (click)="convertBase64()">Converter</button>
    </div>
    <button (click)="onSubmit()">Salvar</button>
    <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
  </form>

</div>
